.mainContainer {
    margin : 3rem 0;
}


.settingContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.profileContainer > h2 {
    text-align: center;
    font-size: 2rem;
}

.avatarContainer {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.noEventContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}