.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border: 2px solid #dadada;
    border-radius: 5px;
    min-width: 70vw;
}

.imgWrapper {
    width: 40rem;
    height: 15rem;
    display: flex;
}

.imgWrapper img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    gap: 14px;
    width: 100%;
}

.eventTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}